{% extends "base.njk" %}
{% block titulo %}Libros | Listado{% endblock %}
{% block contenido %}    
    <div class="container">
        <h1>Listado de libros</h1>
        {% for libro in libros %}
            <div class="row m-1">
                <div class="p-1 col-6">{{ libro.titulo }}</div>
                <div class="col-auto">
                    <a class="btn btn-success" href="/libros/{{ libro.id }}">Ver ficha</a>
                </div>
                <div class="col-auto">
                    <form action="/libros/{{ libro.id }}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
                </div>
                <div class="col-auto">
                    <a class="btn btn-primary" href="/libros/editar/{{ libro.id }}">Editar</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">No hay libros que mostrar.</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}