{% extends "base.njk" %}

{% block titulo %}Libros | Nuevo{% endblock %}

{% block contenido %}

    <h1>Inserción de nuevo libro</h1>

    <form action="/libros" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" name="titulo" 
                placeholder="Título del libro..." />
        </div>
        <div class="form-group mb-3">
            <label for="editorial">Editorial:</label>
            <input type="text" class="form-control" name="editorial"
                placeholder="Editorial del libro..." />
        </div>
        <div class="form-group mb-3">
            <label for="precio">Precio:</label>
            <input type="text" class="form-control" name="precio"
                placeholder="Precio del libro..." />
        </div>
        <div class="form-group mb-3">
            <label for="precio">Portada:</label>
            <input type="file" class="form-control" name="portada"
                placeholder="Portada del libro..." />
        </div>
        <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>

{% endblock %}
