{% extends "base.njk" %}

{% block titulo %}Libros | Ficha{% endblock %}

{% block contenido %}

    <h1>Ficha de libro</h1>
    <div>
        <p><strong>Título:</strong> {{ libro.titulo }}</p>
        <p><strong>Editorial:</strong> {{ libro.editorial }}</p>
        <p><strong>Precio:</strong> {{ libro.precio }}</p>
        <p><img src="/public/portadas/{{ libro.portada }}" width="30%" /></p>
    </div>

{% endblock %}
